

.leaflet-container {
  height: calc(100vh - 5em);
  width: 100%;
  min-width: 300px;
}

#legend {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#legend img {
  height: 15vh;
  width: 100%;
}

#legend h1 {
  margin: 0;
  padding: 0;
  color: white
}

.loadinginfo {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: visible;
}

.horizontal-slider {
  margin: 5px;
}